.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 auto;
  width: 100%;
  padding: 0.4rem 7rem;
}
.navSticky {
  background-color: #ffffff;
  color: #12273d;
  position: fixed;
  z-index: 10;
  transition: 0.3s ease-in-out;
}
.navSticky .navBarLogo { 
  color: #12273d;
}
.navSticky .navBarList li a { 
  color: #12273d;
}
.navSticky .img { 
  color: #12273d;
}
.navSticky .navBarList li a:hover { 
  color: #ffffff;
}
.navBarLogo {
  font-family: "Lora";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 61px;

  color: #ffffff;
}
.navBarLogo span:nth-child(2) {
  font-weight: 400;
}

.navBarList {
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 20px;
}
.navBarList li a {
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 33px;
  /* identical to box height */
  padding: 4.5px 8.516px;
  text-decoration: none;
  color: #ffffff;
}
.navBarList li a:hover {
  background: #741906;
  border-radius: 6px;
  cursor: pointer;
}
.navBarList li span {
  cursor: pointer;
}
.img {
  color: #ffffff;
}
.imgClickBtn { 
  color: #741906;
}