.service {
  background: url(/public/images/CTABG.png), url(/public/images/Rectangle3.png);
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  position: relative;
}
.mainContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.icon {
  width: 100%;
}
.content {
  font-family: "Nunito Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  /* or 75% */

  text-align: center;
  letter-spacing: -0.005em;

  color: #12273d;
}
.content span {
  font-weight: 700;
  font-size: 32px;
}
.imgsContainer {
  width: 18%;
  position: relative;
}

.notSelected {
  position: absolute;
  top: 52%;
  left: 59%;
}
.notSelected img {
  display: block;
  margin-bottom: 4px;
}
/* seconde item */
.imgsContainerRental {
  position: relative;
  width: 20%;
  top: -40px;
}
.carRental {
  width: 100%;
  height: 56px;
}
/* thired item*/
.imgsContainerSelling {
  position: relative;
  width: 21%;
}
/*Rides and subText */
.ridesPosition {
  top: 132px;
  color: #ebebeb;
}

.subText {
  color: #12273d;
  top: 69px;
  margin-bottom: 17rem;
}
