.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {}

body {

}

.drag-list>li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  
  border: 2px solid #333;
  width: 200px;
  margin-bottom: 0.5rem;
}

.drag-list > li:hover { 
  cursor: pointer;
}
.draggable { 
  display: flex;
  align-items: center;
  
  gap: 2rem;
  width: 190px;
  padding: 10px;
  background-color: #e5f4b4;
}
/* class list animation */ 

.over { 
  background-color: #8f996f;
} 