.form { 
  height: 100%;
  width: 100%;
}
.formLabel { 
  color: #000;
  display: inline-block;
  padding: 14px 30px;
  
}
.formLabel label { 
    display: block;
   font-size: 20px;
   font-weight: 700;
}
.formLabel input { 
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 8px 11px;
    font-size: 18px;
    width: 260px;
}
/* BTN */ 

.btnExpense { 
  padding: 10px;
    /* margin-left: 108px; */
    position: relative;
    top: 27px;
    right: -188px;
    /* border: 29px; */
    border-radius: 7px;
    border: none;
    background-color: #8c068c;
    color: #FFF;
    font-weight: 700;
}
.btnExpense:hover { 
  cursor: pointer;
}